name: Build, Push & Deploy

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout
      - name: Checkout repo
        uses: actions/checkout@v4

      # 2. Login Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 3. Build Docker image
      - name: Build Docker image
        run: |
          IMAGE=${{ secrets.DOCKER_USERNAME }}/entrega-continua
          docker build -t $IMAGE:latest -t $IMAGE:${{ github.sha }} .

      # 4. Push Docker image
      - name: Push Docker image
        run: |
          IMAGE=${{ secrets.DOCKER_USERNAME }}/entrega-continua
          docker push $IMAGE:latest
          docker push $IMAGE:${{ github.sha }}

      # 5. Deploy to Render
      - name: Deploy to Render
        uses: render-oss/render-deploy-action@v1
        with:
          service-id: ${{ secrets.RENDER_SERVICE_ID }}
          api-key: ${{ secrets.RENDER_API_KEY }}
